CLIENT_ID=aaaa
CLIENT_SECRET=aaaa
BETTER_AUTH_SECRET=aaaa
BETTER_AUTH_URL=http://localhost:5173

BASE_URL="https://auth.inpt.fr"
ISSUER_URL="https://auth.inpt.fr/application/o/b00chat/"
USER_INFO_URL="https://auth.inpt.fr/application/o/userinfo/"
LOGOUT_URL="https://auth.inpt.fr/application/o/b00chat/end-session/"

ADMIN_UIDS="lebihang,planchetm,pagnuccon2"
BANNED_UIDS="baduser1,baduser2"

SESSION_EXPIRATION_HOURS=24
