.builder:
  stage: build
  image: 
    name: moby/buildkit:rootless
    entrypoint: [sh, -c]
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
    - |
      mkdir -p ~/.docker && cat > ~/.docker/config.json <<EOF
      {
        "auths": {
          "$CI_REGISTRY": {
            "auth": "$(echo -n "$CI_REGISTRY_USER:$CI_REGISTRY_PASSWORD" | base64)"
          }
        }
      }
      EOF
    - |
      dockerbuild() {
        buildctl-daemonless.sh build \
          --frontend=dockerfile.v0 \
          --local context=. \
          --local dockerfile=. \
          --opt build-arg:VERSION=$1 \
          --opt build-arg:COMMIT=$CI_COMMIT_SHA \
          --output type=image,name=$CI_REGISTRY_IMAGE:$1,push=$2

        buildctl-daemonless.sh build \
          --frontend=dockerfile.v0 \
          --local context=. \
          --local dockerfile=. \
          --opt build-arg:VERSION=$1 \
          --opt build-arg:COMMIT=$CI_COMMIT_SHA \
          --output type=image,name=$CI_REGISTRY_IMAGE:latest,push=$2
      }

deploy:
  extends: .builder
  stage: build
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+.*$/
  script:
    - dockerbuild $(echo $CI_COMMIT_TAG || echo "dev-$CI_COMMIT_SHA" || echo dev) "true"

build:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG !~ /^v\d+\.\d+\.\d+.*$/
  image: node:24-slim
  script:
    - corepack enable
    # env vars (with dummy values) required to build...
    - cp .env.example .env
    - pnpm i
    - pnpm run build
